<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">Trend Talks</a>
   </div>
   <div>
      <p class="navbar-text" , style = "float: right;">Proudly Presented By Sprout Enterprises</p>
   </div>
</nav>